.container{
    border: 1px solid black ;
    display: flex;
    /* height: 100px;
    align-items: center;
    justify-content: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.green, .red, .blue{
    padding: 20px;
    margin: 10px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}